* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

:root {
    --p-color: #777777;
}
.p{
    color: var(--p-color);
}

.ts-banner-title {
    font-size: 70px;

}

.ts-banner-header {
    position: relative;
    left: 95px;
}

.ts-star-img {
    width: 50px;
}