* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.p {
    color: #777777;
}

.h {
    font-weight: 800;
    font-size: 45px;
}

.ts-btn {
    background: linear-gradient(270deg, #FF0000 0%, #FF8938 100%);

}

.ts-banner-title {
    font-size: 70px;

}

.ts-banner-header {
    position: relative;
    left: 95px;
}

.ts-star-img {
    width: 75px;
}

.ts-banner-rating {
    font-size: 50px;

}

.ts-banner-ratting-info {
    position: relative;
    bottom: 90px;
}

.card {
    background-color: #F4F4F4;
}

.ts-tea-bg {
    background: linear-gradient(90deg, #D9D9D9 0%, rgba(255, 255, 255, 0) 100%);
    width: 238px;
    height: 136px;
}

.ts-grid {
    width: 267px;
    height: 391px;
}

.ts-grid-lt {
    position: relative;
    right: 300px;
    top: 417px;
    right: 310px;
}

.ts-grid-row {
    position: relative;
    bottom: 230px;
    right: 17px;
}

.grid-div {
    position: absolute;
    top: 1365px;
    left: 770px;
}

.ts-client {
    background: linear-gradient(270deg, #FF0000 0%, #FF8938 100%);
    width: 1140px;
    height: 650px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.ts-btn-client {
    border: 0;
    color: white;
    background: linear-gradient(270deg, #FF0000 0%, #FF8938 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    background-color: white;
    position: absolute;

}

.btn-for {
    height: 50px;
    width: 135px;
    position: absolute;
    top: 2505px;
}